.img {
    width:300px;
    margin: 10px;
    margin: red;
}

.grid {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    list-style: none;
    border: solid 1px black;
}